<% if user_signed_in? %>
  <p>Signed in as <%= link_to current_user.email, current_user %></p>
  <%= button_to "Sign Out", destroy_user_session_path, method: :delete, data: { turbo: false } %>
<% else %>
  <%= button_to "Sign In", new_user_session_path %>
<% end %>


<h1>Events!</h1>


<div class="event-container">
  <h3> List of Upcoming Events </h3>
  <div class="upcoming-events">
    <ul><% @upcoming.each do |event| %>
      <li><%= link_to event.name, event_path(event) %>
        <ul>
          <li> Creator: <%= event.creator.email %></li>
        </ul>
      <% end %></li>
    </ul>
  </div>

  <h3> List of Past Events </h3>
  <div class="past-events">
    <ul><% @past.each do |event| %>
      <li><%= link_to event.name, event_path(event) %>
        <ul>
          <li> Creator: <%= event.creator.email %></li>
        </ul>
      <% end %></li>
    </ul>
  </div>
</div>

<%= button_to link_to "Create Event",  new_event_path %>
