<h2><%= @event.name %></h2>

<ul>
  <li>Location: <%= @event.location %></li>
  <li>Date: <%= @event.date.strftime("%b %-d, %Y") %></li>
  <li>Attendees: 
    <ul>
      <% @event.attendees.each do |attendee| %>
        <li><%= link_to attendee.email, user_path(attendee) %></li>
      <% end %>
    </ul>
  </li>
</ul>

<%= button_to "Attend Event", attendances_path, params: { "attendances" => {attended_event_id: @event } } %>

